<%- include("header") -%>

<h2 >this is about page !</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem quisquam odit, blanditiis deleniti veritatis aliquam esse, dolore ipsam laboriosam qui beatae nostrum, aspernatur fugit? Incidunt exercitationem voluptates nulla dicta tempora delectus quia, quam eaque unde possimus iste asperiores inventore! Nemo quasi assumenda cumque recusandae esse modi aliquid repellat quo dicta!</p>

<%- include("footer") -%>